{% extends "admin_layout.html" %}

{% block content %}
    {% for row in rows %}
        <h1>Edit your comment</h1>

        <form action="{{ url_for('edit_comment') }}" method="POST" enctype="multipart/form-data">
            score<br>
            <input type="real" name="score" value="{{row[3]}}"/><br>
            visited_date<br>
            <input type="text" name="date" value="{{row[4]}}"/><br>
            comment<br>
            <input type="text" name="comment" value="{{row[5]}}"/><br>
            pic<br>
            <input type="file" name = "pic" accept="image/*" /><br>
            <input type="hidden" name="rId" value="{{ row[0] }}">
            <input type="hidden" name="return_page" value="{{ return_page }}">
            <br>
            <input type="submit" value="Submit" /><br>
        </form>
    {% endfor %}
{% endblock %}


